# {{ ansible_managed }}
# 'interface' no Janus é NOME de interface de rede (eth0); para prender
# o serviço a um endereço usa-se 'ip'. O nginx é quem publica isso para fora.
general: {
        json = "indented"
        base_path = "/janus"
        http = true
        port = {{ janus_http_porta }}
        ip = "127.0.0.1"
        https = false
}

admin: {
        admin_base_path = "/admin"
        admin_http = true
        admin_port = {{ janus_admin_porta }}
        admin_ip = "127.0.0.1"
        admin_https = false
}

cors: {
        allow_origin = "https://{{ pabx_hostname }}"
}
