; {{ ansible_managed }}
[directories](!)
astetcdir     => /etc/asterisk
astmoddir     => /usr/lib/{{ ansible_facts.architecture }}-linux-gnu/asterisk/modules
astvarlibdir  => /var/lib/asterisk
astdbdir      => /var/lib/asterisk
astkeydir     => /var/lib/asterisk
astdatadir    => /var/lib/asterisk
astagidir     => /var/lib/asterisk/agi-bin
astspooldir   => /var/spool/asterisk
astrundir     => /var/run/asterisk
astlogdir     => /var/log/asterisk
astsbindir    => /usr/sbin

[options]
runuser        = asterisk
rungroup       = asterisk
documentation_language = pt_BR
verbose        = 3
debug          = 0
maxcalls       = {{ asterisk_max_chamadas }}
; maxload é a carga do sistema inteira, não por núcleo: num servidor de 4
; CPUs a carga 1.3 é saúde normal e com 0.9 o Asterisk passava a recusar
; chamada nova. O padrão acompanha o número de núcleos.
maxload        = {{ asterisk_max_carga }}
transmit_silence = yes
languageprefix = yes
live_dangerously = no
